<section class="typingPage">

    <div class="topBar">
        <p>Time: {{ timer }}s</p>
        <p>WPM: {{ getWPM() }}</p>
    </div>

    <div class="paragraphBox">

        <span
            *ngFor="
                let char of generatedText.split('');
                let i = index
            "
            [ngClass]="getCharacterClass(i)"
        >
            {{ char === ' ' ? '\u00A0' : char }}
        </span>

    </div>

    <input
        type="text"
        [value]="typedText"
        (input)="onTyping($event)"
        [disabled]="isFinished"
        placeholder="Start typing..."
    >

    <button (click)="restartTest()">
        Restart
    </button>

    <div *ngIf="isFinished" class="resultBox">

        <h2>Result</h2>
        <p>Accuracy: {{ getAccuracy() }}%</p>
        <p>WPM: {{ getWPM() }}</p>

    </div>

</section>