<div class="userName">
    <p>{{ service.loggedUserName().toUpperCase() }}</p>
</div>

<div class="content">

    <div class="item logoutButton">
        <p>Logout your account.</p>
        <span (click)="logoutButton()">Logout Account</span>
    </div>

    <div class="item resetPersonals">
        <p>Resets all your personal bests. You can't undo this.</p>
        <span (click)="resetButton()">Reset Account</span>
    </div>

    <div class="item deleteButton">
        <p>Deletes your account and all data connected to it.</p>
        <span (click)="deleteButton()">Delete Account</span>
    </div>

</div>