.mainContent {
    padding: 0 5vw;
}

#headText {
    text-align: center;
    font-size: 2rem;
    font-family: 'Bricolage Grotesque', serif;
}
.statsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.statsTable th,
.statsTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.statsTable th {
    font-weight: bold;
}

.statsTable tr:hover {
    background: #f5f5f5;
}

.tellLogin{
    text-align: center;
    padding-top: 100px;
    font-size: 1.2rem;
}